@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #fff;
  background-image: url('./assets/fall.jpg');
  background-position: cover;
}

.app {
  background-image: url('./assets/cold.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

/* Image for summer*/
.app.warm {
  background-image: url('./assets/hot.jpg');
}

.app.rain {
  background-image: url('./assets/wet.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 20px;
  width: 100%;
}


/*
Payment Gateway
*/

.payment {
  text-align: center;
  margin-top: 200px;
}

.amount{
  margin-bottom: 70px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  font-size: 50px;
  height: 80px;
  padding: 8px;
  width: 800px;
  text-align: center;
}

.donate-title {
  font-size: 100px;
  color: black;
}



/* For small devices, such as smartphones */
@media only screen and (max-width: 600px) {
  .donate-title{
    color: black;
    font-size: 50px;
  }

  .amount {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* For medium devices, such as tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .donate-title{
    color: black;
    font-size: 10px;
  }

  .amount {
    width: 75%;
  }
}


/* Small devices (phones) */
@media only screen and (max-width: 600px) {
  .search-box {
    padding-top: 10px;
    margin: 0 0 50px;
  }

  .search-box .search-bar {
    font-size: 16px;
  }

  .location-box .location {
    font-size: 24px;
  }

  .location-box .date {
    font-size: 16px;
  }

  .weather-box .temp {
    margin: 20px auto;
    font-size: 72px;
  }

  .weather-box .weather {
    font-size: 32px;
  }

  .feels-like {
    font-size: 32px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .search-box {
    padding-top: 15px;
    margin: 0 0 60px;
  }

  .search-box .search-bar {
    font-size: 18px;
  }

  .location-box .location {
    font-size: 28px;
  }

  .location-box .date {
    font-size: 18px;
  }

  .weather-box .temp {
    margin: 25px auto;
    font-size: 84px;
  }

  .weather-box .weather {
    font-size: 36px;
  }

  .feels-like {
    font-size: 36px;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 993px) {
  .search-box {
    padding-top: 20px;
    margin: 0 0 75px;
  }

  .search-box .search-bar {
    font-size: 20px;
  }

  .location-box .location {
    font-size: 32px;
  }

  .location-box .date {
    font-size: 20px;
  }

  .weather-box .temp {
    margin: 30px auto;
    font-size: 102px;
  }

  .weather-box .weather {
    font-size: 48px;
  }

  .feels-like {
    font-size: 48px;
  }
}



/*Styles for Subscription box*/
.subscription-section {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.subscription-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subscription-section form {
  display: inline-block;
}

.subscription-section label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.subscription-section .form-group {
  display: flex;
  align-items: center;
}

.subscription-section input[type="email"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
  flex: 1;
}

.subscription-section button[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
